<!doctype html>
<html lang="ru">
{# Основной файл HTML-структуры #}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Кубышка-4303</title>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>

<header class="header row col-lg-12 col-md-12 col-sm-12">
    <div class="overlay">

    </div>

    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand" href="https://it-cube43.ru">IT-Куб. Белая Холуница</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-4">

                <li class="nav-item">
                    <a class="nav-link" href="#1">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#2">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#3">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#4">Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#5">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

               <div class="left-pad row col-lg-3 col-md-4 col-sm-0">
            123
        </div>


</header>

{{ bootstrap.load_js() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>

<script>
    var menu = document.querySelector('.head-menu');
    var menu_open_btn = document.querySelector('.head-menu-open');
    var nav_filter = document.querySelector('.main-nav');
    var filter_open_btn = document.querySelector('.filter-open');
    var dark_screen = document.querySelector('.dark-screen');
    var menu_is_open = false;
    var nav_filter_is_open = false;

    menu_open_btn.addEventListener('click', () => {
        menu.style.transform = 'translateX(0%)';
        dark_screen.style.display = 'block';
        menu_is_open = true;
    });

    filter_open_btn.addEventListener('click', () => {
        nav_filter.style.display = 'flex';
        dark_screen.style.display = 'block';
        nav_filter_is_open = true;
    });

    dark_screen.addEventListener('click', () => {
        dark_screen.style.display = '';
        menu.style.transform = '';
        nav_filter.style.display = '';

        nav_filter_is_open = false;
        menu_is_open = false;
    });

    nav_filter.addEventListener('change', (e) => {
        if (e.target.tagName === 'SELECT') {
            const form = e.target.closest('form');
            try {
                form.submit();
            } catch {
                form.submit.click();
            }
        }
    });

</script>
