{% extends "base.html" %}

{% block header00 %}Расписание занятий{% endblock %}

{% block mainpad %}
<div class="table-responsive">
    <table class="table-striped table-condensed table-bordered table">
        <thead>
        <tr>
            <th class="header-table" scope="col">ID</th>
            <th class="header-table" scope="col">Ф.И.О.</th>
            <th class="header-table" scope="col">Д.рожд.</th>
            <th class="header-table" scope="col">Телефон</th>
            <th class="header-table" scope="col">Е-мейл</th>
            <th class="header-table" scope="col">ПФДО</th>
            <th class="header-table" scope="col">Публ.</th>

        </tr>
        </thead>
        <tbody>
        {% for rec in table: %}
        <tr>
            <td class="filterable-cell">{{ rec.id }}</td>
            <td class="filterable-cell">{{ rec.name }}</td>
            <td class="filterable-cell">{{ rec.birthday }}</td>
            <td class="filterable-cell">{{ rec.phone }}</td>
            <td class="filterable-cell">{{ rec.email }}</td>
            <td class="filterable-cell">{{ rec.sertificate }}</td>
            <td class="filterable-cell">{{ "Да" if rec.navigator == "1" else "Нет" }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

